<!DOCTYPE html>
<html>
<head>
	<title>Arithmetic and Geometric Progression</title>
</head>
<body>
	<h1>Arithmetic and Geometric Progression</h1>
	<form action="http://localhost:5000/calculate" method="post">
		<label for="num1">First Term:</label>
		<input type="number" name="num1" id="num1"><br>
		<label for="num2">Common Difference/Ratio:</label>
		<input type="number" name="num2" id="num2"><br>
		<input type="radio" name="operation" value="AP" checked>
		<label for="operation">Arithmetic Progression</label><br>
		<input type="radio" name="operation" value="GP">
		<label for="operation">Geometric Progression</label><br>
		<input type="submit" value="Calculate">
	</form>
</body>
</html>
